bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

.idea
.vscode
.vs

appsettings.json
Tests/test-user-credentials.json
Tests/node_modules
storage-upload/appsettings.Development.json
storage-upload/appsettings.json