@import "./bootstrap";

.tracks-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.icon {
  float: left;
}

.track {
  float: left;
  width: 100%;
}

.tracks-container {
  width: 100%;
  height: 100%;
}

.name {
  display: flex;
  justify-content: center;
}

.separator {
  border: 1px solid $dark;
  margin-top: 3em;
}