@import "./bootstrap";

.tracks-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.track-title {
  float: left;
  margin-left: 3em;
}
.icon {
  float: left;
}

.play-btn {
  margin-left: 2em;
}

.track {
  float: left;
  width: 100%;
}

.tracks-container {
  //margin: 3em auto 4em 0;
  width: 100%;
  height: 100%;
}

.track-date {
  float: right;
  margin-right: 1em;
}

.separator {
  border: 1px solid $dark;
  margin-top: 3em;
}